name: quickfood
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^4.3.0
  firebase_database: ^12.1.1 
  cloud_firestore: ^6.1.1    
  firebase_auth: ^6.1.3      
  provider: ^6.1.5+1  
  flutter_localization: ^0.3.3      

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
